#logcleaner {
	/* display: flex; */
     width: 100%; 
	justify-content: center;
    padding-left: 10%;
	padding-right: 5%;
}

#logcleaner_logapps {
    float: left;
    margin-top: 20px;
    width: 80%;
    font-size: 0.8em;"
}

#logcleanerfirst {
	width: 30%;
}

#logcleanerthird {
	width: 100%;
}
#wtdelete {
	float: left;
}
#wtlogmsg {
	float :left;
}
#logcleaner-infobtn {
    /* font-family: Arial; */
    font-weight: normal;
	float: left;
	display: flex;
	justify-content: left;
	margin-top: 5px; 
}
#logcleaner-innum {
	float: left;
	width: 130px;
}
#logcleaner-inum {
	float: left;
	width: 175px;
}
#logcleaner_wt_zeilen {
	width: 70px;
}
#logcleaner_wt_offset {
	width: 70px;
}
#logcleaner-btns {
	float: left;
	display: flex;
	justify-content: left;
	/* margin: 16px; */
	font-size: 0.8em;
}
#logcleaner-info {
	float: left;
	display: flex;
	justify-content: left;
	margin: 16px;
}
.alert-info {
		text-align: center;
    border-color: #bce8f1;
    font-size: 1em;
}
.alert-info2 {
    color: #000000;
    background-color: #ffffff;
    border-color: #bce8f1;
    font-size: 0.75em;
}
.alert-level0 {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 0.75em;
}
.alert-level1 {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    font-size: 0.75em;
}
.alert-level2 {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-size: 0.75em;
}
.alert-level3 {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 0.75em;
}
.alert-level4 {
    color: #870482;
    background-color: #f9aaf6;
    border-color: #ebccd1;
    font-size: 0.75em;
}
.alert {
  display: flex;
	align-items: center;
	justify-content: left;
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 8px;
}
.insettings {
    width: 100%;
    height: max-content;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
.outsettings {
    width: 400px;
    height: max-content;
    float: left;
}
.icosettings {
    margin-top: 11px;
    margin-left: 10px;
}
.icoinfo {
    padding-top: 11px;
    padding-left: 50px;
    
}
@media (max-width:650px) {
#logcleanerfirst {
	width: 400px;
}

#logcleanerthird {
float: left;
	width: auto;
}

#logcleaner {
     width: 300px; 
    word-break: break-all;
}
}

.icon-logcleaner {
	background-image: url(./../img/logcleaner-dark.svg);
	filter: var(--background-invert-if-dark);
}
